.TableComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .HeaderSpace {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-top: 3px solid black;
        border-bottom: 3px solid black;

        .HeaderCell {
            width: 176px;
            margin-left: 1px;
            margin-right: 1px;
            border-left: 3px solid black;
        }

        .AgeHeaderCell {
            margin-left: 1px;
            margin-right: 1px;
            width: 31px;
            border-left: 3px solid black;
        }

        .CalendarHeaderCell {
            margin-left: 1px;
            margin-right: 1px;
            width: 259px;
            border-left: 3px solid black;
        }

        .DeleteHeaderCell {
            margin-left: 1px;
            margin-right: 1px;
            width: 57px;
            border-left: 3px solid black;
            border-right: 3px solid black;
        }
    }
}
