.TableComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .table {
        border-collapse: collapse;
        text-align: center;
        height: 1px;

        .tableHeader {
            border: 1px solid black;
            font: 20px bold;

            .tableHeaderCell {
                border: 1px solid black;

                .tableCell {
                    margin: 4px;
                }
            }
        }

        .tableRow {
            border-bottom: 1px solid gray;
            height: 100%;

            .tableCell {
                margin: 2px;
                height: 100%;
            }
        }
    }
}
